/* o corpo completo da pagina*/
body{
    background-color: #efb78e
    padding: 0px ;
    margin:  0px;
}
.container{
      display: flex;
      justify-content:space-between ;
      background-color: #3e7f8d
      
}
.logo{
      display:flex;
      justify-content: space-between;
      
}
.menu{
    display: flex;
    margin-top: 25px;
    justify-content: ;
    align-items: center;
    border: 1px solid black;
    width: 100px;
    height: 30px;
}
.menu a{

   border-radius: 20px;
   padding: 20px 30px 30px 30px
   color: whitesmoke;
   text-decoration: none;

}

.menu a:hover{
    background-color: #cdb0ac;
    color: #1e7387;
}
.social{
display: flex
justify-content
width: 50px;
height:50px ;


}
.fb:hover{
    opacity: o.7;
}
.in:hover{
    opacity: 0.7;
}
/*barra de pesquisa*/
.pesquisa{
    display: flex;
    justify-content: center;
    margin: 20px;
}


.pesquisa imput[type=text]{ 
    display: flex;
    justify-content: center;
    width: 700px;
    height: 30px;
    border-radius: 20px;
    border: solid #3e7f8d;
    background-color: #focd;
    color:whitesmoke;
}
.pesquisa ::placeholder{
    color: rgb(181, 181, 181);
}

.pesquisa input[type=submit]{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #3e7f8d;
    color: whitesmoke;
    border: #3e7f8d 3px solid;

    background-image: url("../incons/icons8-search-50.png");
    background-size: 25px;
    background-repeat; no-repeat;
    padding: 15px 15px 15px 15px;
    height: 30px;
    width: 30px; 
}

.pesquisa input[type=submit]:hover{
 opacity: 0.7
}
.99{
    display: flex;
    justify-content: center;
}
h1{
    color:#3e7f8d;

}
/* tratamento do slideshow*/
.myslides{display:nome;}

.slideshow-container{
    max-width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.numbertext{
    color: #3e7f8d;
    font-size: 18px;
    padding: 10px 10px;
    position: absolute;
    top: 0;
}
.text{
    color: whitesmoke ;
    font-size: 22px;
    padding: 10px 10px;
    position: absolute;
    botton: 8px;
    width: 200px;
    text-align: right;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
}

.active{
    background-color: grey;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s
}
/* receitas box*/
.conteiner-receitas{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


}
.receitabox img:hover{
   opacity: 0.7; 
}

.rec-texto{
    color: whitesmoke;
    font-size: 22px;
    top: 50%;
    left: 50%;
    text-align: center;
}
/*webkit*/
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate()

@keyframes fade{
    from{opacity: 0.4;}
    to {opacity: 1;}
}



@import url('https://fonts.cdnfonts.com/css/curely');


